body{
    background-color:cyan;
}
container {
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
   }
   
   h1 {
    font-size: 36px;
    margin-bottom: 30px;
   }
   
   label {
    font-size: 18px;
    display: block;
    margin-bottom: 10px;
   }
   
   input[type="number"] {
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
   }
   
   button {
    padding: 10px 20px;
    background-color: black;
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
    border: none;
    cursor: pointer;
   }
   
   button:hover {
    background-color: violet;
   }
   
   p#result {
    font-size: 24px;
    font-weight: bold;
    margin-top: 30px;
   }
   
   .alert {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
   }
   